.vue-notification-group {
    width: 369px !important;
    bottom: 30px !important;
    right: 23px !important;
    z-index: 9999999999999999999999 !important;
    @media screen and (max-width: 500px) {
        width: 100% !important;
        top: 0px !important;
        right: 0px !important;
        left: 0px !important;
        bottom: unset !important;
    }
    .vue-notification-template {
        margin: 0px !important;
        margin-bottom: 10px !important;
        .notification-title {
            font-size: 18px !important;
            @media screen and (max-width: 500px) {
                font-size: 16px !important;
            }
        }
        .notification-content {
            font-size: 16px !important;
            @media screen and (max-width: 500px) {
                font-size: 13px !important;
            }
        }
    }
}